<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/css/root/root.css">
	<title>admin主界面</title>
</head>
<body class="root">
	<header class="header">
	    <div class="headLeft">视频会议后台管理系统</div>
	    <div class="headRigth">
            <ul>
                <li>admin</li>
                <li style="text-decoration:underline">注销</li>
            </ul>
	    </div>
	</header>
	<div class="main">
            <div class="wrapper">
		        <nav class="nav">
		            <ul class="navList">
			            <li class="on"><i class="iconfont icon-duoren"></i>账号管理</li>
			            <li><i class="iconfont icon-zhongduanyonghu"></i>终端管理</li>
			            <li><i class="iconfont icon-zuzhiguanli"></i>组织架构</li>
			            <li><i class="iconfont icon-huiyi"></i>会议管理</li>
			            <li><i class="iconfont icon-shezhi"></i>设置</li>
		            </ul>
	            </nav>
                <main class="con"></main>
            </div>
	</div>
</body>
</html>